<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Main.master.cs" Inherits="WebDevFinalProject.Main" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">

    </asp:ContentPlaceHolder>
    <link href="bootstrap/bootstrap-5.3.8-dist/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
    <form id="form1" runat="server">
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
                
                <a class="navbar-brand mb-0 h1" href="#"><img class="d-inline-block align-top" src="images/main.jpeg" width="30" height="30" />&nbsp;&nbsp;XYZ INC</a>

                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#toggleMobileMenu">

                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="toggleMobileMenu">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item active"><a class="nav-link" href="#">Add Patient</a></li>
                        <li class="nav-item active"><a class="nav-link" href="#">Add Physician</a></li>
                        <li class="navbar dropdown">
                            <a class="nav-item dropdown dropdown-toggle" id="dropPrescription" role="button" data-bs-toggle="dropdown" aria-expanded="false">Prescription</a>
                            <ul class="dropdown-menu" aria-labelledby="dropPrescription">
                                <li><a href="#" class="dropdown-item">Add Prescription</a></li>
                                <li><a href="#" class="dropdown-item">Delete Prescription</a></li>
                            </ul>
                        </li>
                        <li class="navbar dropdown">
                            <a class="nav-item dropdown dropdown-toggle" id="dropRefill" role="button" data-bs-toggle="dropdown" aria-expanded="false">Refill</a>
                            <ul class="dropdown-menu" aria-labelledby="dropRefill">
                                <li><a href="#" class="dropdown-item">Add Refill</a></li>
                                <li><a href="#" class="dropdown-item">Delete Refill</a></li>
                                <li><a href="#" class="dropdown-item">Modify Refill</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
        </nav>
        
        
        
        <a href="bootstrap/bootstrap-5.3.8-dist/css/bootstrap.min.css">easy day</a>
        
        
        <div>
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
        </div>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
