<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Main1.master.cs" Inherits="WebDevFinalProject.Main1" %>

<!DOCTYPE html>
<html>
<head runat="server">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>XYZ INC</title>
    <link href="images/main.jpeg" rel="icon" type="image/x-icon" />

    <link href="bootstrap/bootstrap-5.3.8-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="MainStyleSheet.css" rel="stylesheet" />
    <link href="https://cdn.lineicons.com/5.0/lineicons.css" rel="stylesheet" />


    <asp:ContentPlaceHolder ID="HeadContent" runat="server" />
</head>

<body>
<form id="form1" runat="server">

<div class="wrapper">

    <!-- sidebar -->
    <aside id="sidebar">
        <br>
        <div class="d-flex align-items-center">
            <button id="toggle-btn" type="button">
                <i class="lni lni-menu-hamburger-1"></i>
            </button>

            <div class="sidebar-logo">
                <a href="Default.aspx"><h3>XYZ CLINIC</h3></a>
            </div>
        </div>

        <ul class="sidebar-nav">

            <li class="sidebar-item">
                <a href="<%: ResolveUrl("~/pages/AddPatient.aspx") %>" class="sidebar-link">
                    <i class="lni lni-user-4"></i>
                    <span>Patient</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a href="<%: ResolveUrl("~/pages/AddPhysician.aspx") %>" class="sidebar-link">
                    <i class="lni lni-stethoscope-1"></i>
                    <span>Physician</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a href="#" class="sidebar-link has-dropdown collapsed"
                   data-bs-toggle="collapse"
                   data-bs-target="#prescriptionMenu"
                   aria-expanded="false">
                    <i class="lni lni-file-multiple"></i>
                    <span>Prescription</span>
                </a>

                <ul id="prescriptionMenu"
                    class="sidebar-dropdown list-unstyled collapse">
                    <li>
                        <a href="<%: ResolveUrl("~/pages/AddPrescription.aspx") %>" class="sidebar-link">
                            Add Prescription
                        </a>
                    </li>
                    <li>
                        <a href="<%: ResolveUrl("~/pages/DeletePrescription.aspx") %>" class="sidebar-link">
                            Delete Prescription
                        </a>
                    </li>
                </ul>
            </li>

            <li class="sidebar-item">
                <a href="#" class="sidebar-link has-dropdown collapsed"
                   data-bs-toggle="collapse"
                   data-bs-target="#refillMenu"
                   aria-expanded="false">
                    <i class="lni lni-cloud-refresh-clockwise"></i>
                    <span>Refill</span>
                </a>

                <ul id="refillMenu"
                    class="sidebar-dropdown list-unstyled collapse">
                    <li>
                        <a href="<%: ResolveUrl("~/pages/AddRefill.aspx") %>" class="sidebar-link">
                            Add Refill
                        </a>
                    </li>
                    <li>
                        <a href="<%: ResolveUrl("~/pages/DeleteRefill.aspx") %>" class="sidebar-link">
                            Delete Refill
                        </a>
                    </li>
                    <li>
                        <a href="<%: ResolveUrl("~/pages/ModifyRefill.aspx") %>" class="sidebar-link">
                            Modify Refill
                        </a>
                    </li>
                </ul>
            </li>

            <li class="sidebar-item">
                <a href="#" class="sidebar-link has-dropdown collapsed"
                   data-bs-toggle="collapse"
                   data-bs-target="#ViewMenu"
                   aria-expanded="false">
                    <i class="lni lni-monitor"></i>
                    <span>View</span>
                </a>

                <ul id="ViewMenu"
                    class="sidebar-dropdown list-unstyled collapse">
                    <li>
                        <a href="<%: ResolveUrl("~/pages/ViewPatient.aspx") %>" class="sidebar-link">
                            View Patient
                        </a>
                    </li>
                    <li>
                        <a href="<%: ResolveUrl("~/pages/ViewPhysician.aspx") %>" class="sidebar-link">
                            View Physician
                        </a>
                    </li>
                    <li>
                        <a href="<%: ResolveUrl("~/pages/ViewPrescription.aspx") %>" class="sidebar-link">
                            View Prescription
                        </a>
                    </li>
                    <li>
                        <a href="<%: ResolveUrl("~/pages/ViewRefill.aspx") %>" class="sidebar-link">
                            View Refill(s)
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </aside>

    <main class="main p-4">
        <asp:ContentPlaceHolder ID="MainContent" runat="server" />
    </main>

</div>

</form>

<script src="bootstrap/bootstrap-5.3.8-dist/js/bootstrap.bundle.min.js"></script>
<script src="MainScript.js"></script>
</body>
</html>