<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Main1.master.cs" Inherits="WebDevFinalProject.Main1" %>

<!DOCTYPE html>
<html>
<head runat="server">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>XYZ INC</title>
    <link href="<%= ResolveUrl("~/images/main.jpeg")%>" type="image/x-icon" rel ="icon" />
    <link href="<%= ResolveUrl("~/bootstrap/bootstrap-5.3.8-dist/css/bootstrap.min.css")%>" rel="stylesheet" />
    <link href="<%= ResolveUrl("~/MainStyleSheet.css")%>" rel="stylesheet" />
    <link href="https://cdn.lineicons.com/5.0/lineicons.css" rel="stylesheet" />

    <asp:ContentPlaceHolder ID="HeadContent" runat="server" />
</head>

<body>
<form id="form1" runat="server">

<div class="wrapper">

    <!-- sidebar -->
    <aside id="sidebar">
        <br>
        <div class="d-flex align-items-center">
            <button id="toggle-btn" type="button">
                <i class="lni lni-menu-hamburger-1"></i>
            </button>

            <div class="sidebar-logo">
                <asp:HyperLink NavigateUrl="Default.aspx" runat="server">
                    <h3>XYZ CLINIC</h3>
                </asp:HyperLink>
            </div>
        </div>

        <ul class="sidebar-nav">

            <li class="sidebar-item">
                <asp:HyperLink 
                    NavigateUrl="~/AddPatient.aspx" 
                    CssClass="sidebar-link" 
                    runat="server">
                    <i class="lni lni-user-4"></i>
                    <span>Add Patient</span>
                </asp:HyperLink>
            </li>

            <li class="sidebar-item">
                <asp:HyperLink 
                    NavigateUrl="~/AddPhysician.aspx" 
                    CssClass="sidebar-link" 
                    runat="server">
                    <i class="lni lni-stethoscope-1"></i>
                    <span>Add Physician</span>
                </asp:HyperLink>
            </li>

            <li class="sidebar-item">
                <asp:HyperLink 
                    NavigateUrl="#" 
                    CssClass="sidebar-link has-dropdown collapsed"
                    data-bs-toggle="collapse"
                    data-bs-target="#prescriptionMenu"
                    aria-expanded="false"
                    runat="server">
                    <i class="lni lni-file-multiple"></i>
                    <span>Prescription</span>
                </asp:HyperLink>

                <ul id="prescriptionMenu"
                    class="sidebar-dropdown list-unstyled collapse">
                    <li>
                        <asp:HyperLink 
                            NavigateUrl="~/AddPrescription.aspx" 
                            CssClass="sidebar-link" 
                            runat="server">
                            Add Prescription
                        </asp:HyperLink>
                    </li>
                    <li>
                        <asp:HyperLink 
                            NavigateUrl="~/ModifyPrescription.aspx" 
                            CssClass="sidebar-link" 
                            runat="server">
                            Modify Prescription
                        </asp:HyperLink>
                    </li>
                </ul>
            </li>

            <li class="sidebar-item">
                <asp:HyperLink 
                    NavigateUrl="#" 
                    CssClass="sidebar-link has-dropdown collapsed"
                    data-bs-toggle="collapse"
                    data-bs-target="#refillMenu"
                    aria-expanded="false"
                    runat="server">
                    <i class="lni lni-cloud-refresh-clockwise"></i>
                    <span>Refill</span>
                </asp:HyperLink>

                <ul id="refillMenu"
                    class="sidebar-dropdown list-unstyled collapse">
                    <li>
                        <asp:HyperLink 
                            NavigateUrl="~/AddRefill.aspx" 
                            CssClass="sidebar-link" 
                            runat="server">
                            Add Refill
                        </asp:HyperLink>
                    </li>
                    <li>
                        <asp:HyperLink 
                            NavigateUrl="~/ModifyRefill.aspx" 
                            CssClass="sidebar-link" 
                            runat="server">
                            Modify Refill
                        </asp:HyperLink>
                    </li>
                </ul>
            </li>

            <li class="sidebar-item">
                <asp:HyperLink 
                    NavigateUrl="#" 
                    CssClass="sidebar-link has-dropdown collapsed"
                    data-bs-toggle="collapse"
                    data-bs-target="#ViewMenu"
                    aria-expanded="false"
                    runat="server">
                    <i class="lni lni-monitor"></i>
                    <span>View</span>
                </asp:HyperLink>

                <ul id="ViewMenu"
                    class="sidebar-dropdown list-unstyled collapse">
                    <li>
                        <asp:HyperLink 
                            NavigateUrl="~/ViewPatient.aspx" 
                            CssClass="sidebar-link" 
                            runat="server">
                            View Patient
                        </asp:HyperLink>
                    </li>
                    <li>
                        <asp:HyperLink 
                            NavigateUrl="~/ViewPhysician.aspx" 
                            CssClass="sidebar-link" 
                            runat="server">
                            View Physician
                        </asp:HyperLink>
                    </li>
                    <li>
                        <asp:HyperLink 
                            NavigateUrl="~/ViewPrescription.aspx" 
                            CssClass="sidebar-link" 
                            runat="server">
                            View Prescription
                        </asp:HyperLink>
                    </li>
                    <li>
                        <asp:HyperLink 
                            NavigateUrl="~/ViewRefill.aspx" 
                            CssClass="sidebar-link" 
                            runat="server">
                            View Refill(s)
                        </asp:HyperLink>
                    </li>
                </ul>
            </li>
        </ul>
    </aside>

    <main class="main p-4">
        <asp:ContentPlaceHolder ID="MainContent" runat="server" />
    </main>

</div>

</form>

<script src="bootstrap/bootstrap-5.3.8-dist/js/bootstrap.bundle.min.js"></script>
<script src="~/MainScript.js"></script>
</body>
</html>